AzureDFInternal/pipeline/Lookup Tables and Trigger Copy Activity.json
{
	"name": "Lookup Tables and Trigger Copy Activity",
	"properties": {
		"activities": [
			{
				"name": "LookupTableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'dbo' and TABLE_NAME <> 'ProductModel'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlServerTableInputTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookupTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "GetTableList and Iterate SQL Tables",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tableList": {
							"value": "@activity('LookupTableList').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}